.navbar {
  background-color: #0f172a;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navContainer {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #c2bcbc;
  font-size: 1.2rem;
  font-weight: 550;
  letter-spacing: 0.5px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.navList {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navLink {
  text-decoration: none;
  color: #c9b7b7;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  transition: color 0.25s ease;
}

.navLink:hover {
  color: #ffffff;
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #38bdf8;
  transition: width 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
}
